{% extends 'base.html' %}

{% block content %}
	<article>
		<div class="grid">
			<div>
				<h2>Aktuální práce</h2>
				{% if request.user.is_authenticated %}
				<ul>
					<li><a href="{% url 'thesis-me' %}">Moje aktuální práce</a></li>
					<li>
						{#<a href="{% url 'thesis-list' %}">Všechny aktuální práce</a>#}
						Aktuální práce
						<ul>
							{% for subject in roots %}
								<li><a href="{% url 'thesis-list' subject=subject.pk %}">{{ subject }}</a></li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				<a role="button" class="action" href="{% url 'thesis-create' %}">Přidat novou práci</a>
				{% else %}
					<p>Pro zobrazení probíhajících prací je třeba se <a href="{% url 'login' %}">přihlásit</a>.</p>
				{% endif %}
			</div>
			<div>
				<h2>Archiv</h2>
				<ul>
					<li><a href="{% url 'archive-search' %}">Vyhledávání v obhájených pracích</a></li>
					<li><a href="{% url 'archive' %}">Archiv ročníků</a></li>
				</ul>
			</div>
		</div>
	</article>
{% endblock %}
