{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />

		<title>Odevzdávací systém GJK{% block title %}{% endblock %}</title>

		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<main class="container">
			<nav>
				<ul>
					<li><strong><a href="{% url 'index' %}">GJK – Odevzdávací systém maturitních prací</a></strong></li>
				</ul>
				<ul>
					<li>{% if request.user.is_authenticated %}
						Přihlášen {% if request.user|has_group:"Studenti" %}student {% elif request.user|has_group:"Učitelé" %}učitel {% endif %}{{ request.user.get_full_name }}
					{% else %}
						Nejste přihlášeni.
					{% endif %}</li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'account_change_password' %}">Změna hesla</a></li>
						<li><a href="{% url 'logout' %}">Odhlásit se</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Přihlásit se</a></li>
					{% endif %}
				</ul>
			</nav>

			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>