.action {
	width: 10rem !important;
}

button.action, input[type="submit"].action, a[role="button"] {
	margin: 0 !important;
	--line-height: 1rem;
	--form-element-spacing-vertical: 0.4rem;
	--form-element-spacing-horizontal: 0.4rem;
}

.medium-editor-element {
	--background-color: var(--form-element-background-color);
	--border-color: var(--form-element-border-color);
	--color: var(--form-element-color);
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
	outline: 0;
}
